:root {
    --green-color: #a9d33d;
    --blue-color: #3B349B;
    --mauve-color: #424370;
    --main-font: cursive;
    --secondary-font: "Roboto Condensed", sans-serif;
    ;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-mauve {
    background-color: var(--mauve-color);
}


body {
    font-family: var(--secondary-font);
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

h1,
h3 {
    font-family: var(--main-font);
}

.heading::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    scale: 1.1;
    background-image: conic-gradient(#fc5130, #613dc1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    animation: spinAnimation 5s linear infinite;
}

@keyframes spinAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* questions section*/
.custom-btn {
    background-color: white;
    color: var(--mauve-color);
    border: 1px solid var(--mauve-color);
    border-radius: 18px;
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.custom-btn:hover {
    background-color: var(--mauve-color);
    color: white;
}

.custom-btn:disabled {
    background-color: gray;
    color: white;
    border: 1px solid gray;
    cursor: help;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

.alert {
    transform: translateY(-100%);
}

.alert-show {
    transition: all 0.3s ease-in-out;
    animation: showAlert 3s ease-in-out;
}

@keyframes showAlert {
    0% {
        transform: translateY(-100%);
    }

    20% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }

}

.score-result {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 31px;
    color: red;
    text-wrap: wrap;
}